* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #222
}
.menu {
    width: 600px;
    background-color: deeppink;
    color: white;
    list-style-type: none;
    margin: 0 auto;
    font-size: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
.menu li {
    border: 1px solid;
    width: calc(100% / 7 - 2px);
    height: 50px;
    font: 15px sans-serif;
    text-align: center;
    line-height: 50px;
    display: inline-block;
}
.menu a {
    display: block;
}
.menu a:hover {
    background-color: #0004;
}