body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background: blueviolet;
    width: 700px;
    height: 700px;
    border-radius: 10px;
    padding: 50px;
    margin: calc(50vh - 350px) auto;
    /* Начальный способ понимания размеров блока
    box-sizing: content-box; */
    box-sizing: border-box;
    display: flex;
    /* flex-direction - направление основной оси */
    flex-direction: column; /* row, row-reverse, column, column-reverse */
    /* justify-content - расположение элементов вдоль основной оси */
    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* align-items - расположение элементов вдоль поперечной оси */
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    align-items: center;
    
}
.card {
    width: 50px;
    height: 100px;
    font: 50px sans-serif;
    color: darksalmon;
    background: darkslateblue;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}