body {
    background-color: gray;
}
.main {
    display: flex;
    flex-direction: row;
    margin: calc(45vh - 400px);
}
.container1 {
    background: blue;
    width: 20vh;
    height: 50vh;
    padding: 20px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container2 {
    background: blue;
    width: 20vh;
    height: 50vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    width: 250px;
    height: 150px;
    background: green;
    margin: 5px;
    }
.cardbig {
    width: 250px;
    height: 300px;
    background: darkred;
    margin: 5px;
}